.UNDONE {
    text-decoration: none;
    width: 200px;
    text-align: left;
}

.DONE {
    text-decoration: line-through;
    width: 200px;
    text-align: left;
}

span {
    display: inline-block;
    cursor: pointer;
}

.x {
    display: inline;
    cursor: pointer;
}

#Todo {
    width: 230px;
    border: 1px solid white;
    margin-bottom: 20px;
}
