.UNDONE {
    text-decoration: none;
    width: 200px;
    text-align: left;
}

.DONE {
    text-decoration: line-through;
    width: 200px;
    text-align: left;
}

span {
    display: inline-block;
    cursor: pointer;
}

.delete {
    display: inline;
    cursor: pointer;
    color: cyan;
}

.Todo {
    width: 230px;
    border: 1px solid white;
    margin-bottom: 20px;
    display: inline-block;
}
.ant-card-head-title {
  flex: none;
  font-size: 16px;
}
.ant-card-body {
  text-align: left;
}
.ant-card-head {
  padding: 0 15px!important;
}